body 
{
    padding: 10px;
    align-content: center;
    font-family: “Century Gothic”, CenturyGothic, AppleGothic, sans-serif;
    font-size: 12px;
    text-align: center;
    color: #FFFFFF;
    background-color: #303030;
    -webkit-font-smoothing: antialiased;
    letter-spacing: .5px;
    margin-left: auto;
    margin-right: auto;
}

a
{
    font-size: 18px;
    color: #E7485E;
}

h1
{
    text-align: center;
    font-size: 36px; 
}

h2
{
    text-align: left;
    font-size: 12px;
}

#container 
{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

#content
{
    float: left;
    width: 525px;
    height: 570px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #505050;
    border: 2px solid #FF9A0E;
}

#content a img {
    align: right;
}

#content a:link{ color:#FF9A0E; } 

#media
{
    float: right;
    width: 615px;
    height: 320px;
    padding-top: 10px;
    background-color: #505050;
    border: 2px solid #FF7766;
}

#media a:link{ color: #FF7766; } 

#concept
{
    margin-top: 18px;
    float: right;
    width: 575px;
    height: 180px;
    padding: 20px;
    background-color: #505050;
    border: 2px solid #FFEF8B;
}

#concept a:link{ color: #FFEF8B; } 


#directions
{
    position: absolute;
    margin-left: -400px;
    left: 50%;
    bottom: 240px;
    width: 800px;
    height: 20px;
    background-color: #707070;
    border: 2px solid #78FFB4;
    border-radius: 25px;
}

#directions a:link{ color: #78FFB4; } 

#navigation
{
    position: absolute;
    margin-left: -400px;
    left: 50%;
    bottom: 20px;
    width: 800px;
    height: 200px;
    background-color: #707070;
    border: 2px solid #78FFB4;
    border-radius: 25px;
}

#navigation a:link{ color: #78FFB4; } 

#slider
{
    z-index:100;
}

#knob
{
    z-index:200;
    opacity: 0.9;
}

#knob:hover
{
    opacity: 1.0;
}

#disabledknob
{
    z-index:200;
    opacity: 0.4;
}

#images
{
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
}
