body 
{
    padding: 10px;
    align-content: center;
    font-family: “Century Gothic”, CenturyGothic, AppleGothic, sans-serif;
    font-size: 12px;
    text-align: center;
    color: #FFFFFF;
    background-color: #303030;
    -webkit-font-smoothing: antialiased;
    letter-spacing: .5px;
    margin-left: auto;
    margin-right: auto;
}

a
{
    font-size: 18px;
    color: #E7485E;
}

h1
{
    text-align: center;
    font-size: 36px; 
}

h2
{
    text-align: left;
    font-size: 12px;
}

#container 
{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

#content
{
    float: left;
    width: 525px;
    height: 570px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #505050;
    border: 2px solid #FF9A0E;
}

#content a img {
    align: right;
}

#content a:link{ color:#FF9A0E; } 

#media
{
    float: right;
    width: 615px;
    height: 320px;
    padding-top: 10px;
    background-color: #505050;
    border: 2px solid #FF7766;
}

#media a:link{ color: #FF7766; } 

#concept
{
    margin-top: 18px;
    float: right;
    width: 575px;
    height: 180px;
    padding: 20px;
    background-color: #505050;
    border: 2px solid #FFEF8B;
}

#concept a:link{ color: #FFEF8B; } 

#navigation
{
    position: absolute;
    margin-left: -305px;
    left: 50%;
    bottom: 20px;
    width: 610px;
    height: 225px;
    background-color: #707070;
    border: 2px solid #78FFB4;
    border-radius: 25px;
}

#navigation a:link{ color: #78FFB4; } 


#slider1
{
    display:table-cell;
    height:100px; 
    left:50px;
    top:45px;
}

#slider2
{
    display:table-cell;
    height:100px; 
    left:100px; 
    top:45px;
}

#slider3
{
    display:table-cell;
    height:100px; 
    left:150px; 
    top:45px;
}

#slider4
{
    display:table-cell;
    height:100px; 
    left:200px;
    top:45px;
}

#slider5
{
    display:table-cell;
    height:100px; 
    left:250px; 
    top:45px;
}

#slider6
{
    display:table-cell;
    height:100px; 
    left:300px; 
    top:45px;
}

#slider7
{
    display:table-cell;
    height:100px; 
    left:350px; 
    top:45px;
}

#slider8
{
    display:table-cell;
    height:100px; 
    left:400px; 
    top:45px;
}

#slider9
{
    display:table-cell;
    height:100px; 
    left:450px;
    top:45px;
}

#slider
{
    z-index:100;
}

#button
{
    z-index:100;
}

#knob
{
    z-index:200;
    opacity: 0.9;
}

#knob:hover
{
    opacity: 1.0;
}

#disabledknob
{
    z-index:200;
    opacity: 0.4;
}

#images
{
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
}

#player {
    width: 1px;
    height: 1px;    
    position: relative;
    margin: 0 auto;
    top: 150px;
    background: url('http://iviewsource.com/exercises/audioslider/images/volume-background.png') no-repeat left top;
}

#volume {
    position: absolute;
    left: 24px;
    margin: 0 auto;
    height:15px;
    width: 300px;
    background: url('http://iviewsource.com/exercises/audioslider/images/volume-empty.png') no-repeat left top;
  border: none;
  outline: none;
}

#volume .ui-slider-range-min {
    height:15px;
    width: 300px;
    position: absolute;
    background: url('http://iviewsource.com/exercises/audioslider/images/volume-full.png') no-repeat left top;
  border: none;
  outline: none;
}

#volume .ui-slider-handle {
    width: 38px;
    height:39px;
    background: url('http://iviewsource.com/exercises/audioslider/images/volume-knob.png') no-repeat left top;
    position: absolute;
    margin-left: -15px;
    cursor: pointer;
    outline: none;
    border: none;
}
