body 
{
    padding: 10px;
    align-content: center;
    font-family: “Century Gothic”, CenturyGothic, AppleGothic, sans-serif;
    font-size: 12px;
    text-align: center;
    color: #FFFFFF;
    background-color: #303030;
    -webkit-font-smoothing: antialiased;
    letter-spacing: .5px;
    margin-left: auto;
    margin-right: auto;
}

a
{
    font-size: 18px;
    color: #FFEF8B;
    text-align: center;
}

h1
{
    text-align: center;
    font-size: 36px; 
}

h2
{
    text-align: center;
    font-size: 18px;
}

#container 
{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

#content
{
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 570px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #505050;
    border: 2px solid #FFEF8B;
}

#content a:link{ color: #FFEF8B; } 

#navigation
{
    position: absolute;
    margin-left: -305px;
    left: 50%;
    bottom: 20px;
    width: 610px;
    height: 225px;
    background-color: #707070;
    border: 2px solid #78FFB4;
    border-radius: 25px;
}

#navigation a:link{ color: #78FFB4; } 

#slider1
{
    display:table-cell;
    height:100px; 
    left:50px;
    top:45px;
}

#slider2
{
    display:table-cell;
    height:100px; 
    left:100px; 
    top:45px;
}

#slider3
{
    display:table-cell;
    height:100px; 
    left:150px; 
    top:45px;
}

#slider4
{
    display:table-cell;
    height:100px; 
    left:200px;
    top:45px;
}

#slider5
{
    display:table-cell;
    height:100px; 
    left:250px; 
    top:45px;
}

#slider6
{
    display:table-cell;
    height:100px; 
    left:300px; 
    top:45px;
}

#slider7
{
    display:table-cell;
    height:100px; 
    left:350px; 
    top:45px;
}

#slider8
{
    display:table-cell;
    height:100px; 
    left:400px; 
    top:45px;
}

#slider9
{
    display:table-cell;
    height:100px; 
    left:450px;
    top:45px;
}

#slider
{
    z-index:100;
}

#knob
{
    z-index:200;
    opacity: 0.8;
}

#knob:hover
{
    opacity: 1.0;
}

#disabledknob
{
    z-index:200;
    opacity: 0.4;
}