body 
{
    padding: 10px;
    align-content: center;
    font-family: “Century Gothic”, CenturyGothic, AppleGothic, sans-serif;
    font-size: 12px;
    text-align: center;
    color: #000000;
    background-color: #A8D1C3;
    -webkit-font-smoothing: antialiased;
    letter-spacing: .5px;
    margin-left: auto;
    margin-right: auto;
}

a
{
    font-size: 18px;
    color: #E7485E;
}

h1
{
    text-align: center;
    font-size: 36px; 
}

h2
{
    text-align: left;
    font-size: 12px;
}

#container 
{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

#content
{
    float: left;
    
    width: 525px;
    height: 570px;
    background-color: #D1c3a8;
    padding-left: 20px;
    padding-right: 20px;
}

#media
{
    float: right;
    width: 615px;
    height: 320px;
    padding-top: 10px;
    background-color: #D1c3a8;
}

#concept
{
    margin-top: 20px;
    float: right;
    width: 575px;
    height: 180px;
    padding: 20px;
    background-color: #D1c3a8;
}

#directions
{
    position: absolute;
    margin-left: -400px;
    left: 50%;
    bottom: 240px;
    width: 800px;
    height: 20px;
    background-color: #C8C8C8;
    border-radius: 25px;
    border: 2px solid #000000;
}

#navigation
{
    position: absolute;
    margin-left: -400px;
    left: 50%;
    bottom: 20px;
    width: 800px;
    height: 200px;
    background-color: #C8C8C8;
    border-radius: 25px;
    border: 2px solid #000000;
}

#slider
{
    z-index:100;
}

#knob
{
    z-index:200;
}
