body 
{
    margin: 0;
    max-width: 800px;
    font-family: "Geneva", Geneva, Arial, sans-serif;
    font-size: 12px;
    line-height: 1em;
    color: #FFFFFF;
    background-color: #809A80;
}

header 
{

}

footer 
{
    font-family: "Geneva", Geneva, Arial, sans-serif;
    font-size: 11px;
    line-height: 1.25em;
    color: #FFFFCC;
    background-color: #809A80;
    position: absolute;
    left: 192px;
    top: 630px;
}

a {
    color: #FFFFFF;
}

p1 {
    font-size: 13px;
    line-height: 1.5em;
}

p2 {
    font-size: 11px;
    line-height: 1.5em;
	padding-left: 10px;
}

#whatsonline
{
    left: 19px;
    top: 74px;
    position: absolute;
    background-color: #6e816e;
    height: 13px;
    width: 135px;
    padding-left: 6px;
    padding-top: 1px;
    font-family: "Geneva", Geneva, Arial, sans-serif;
    font-size: 10.5px;
    color: #ffffff;
}

#sidebar
{
    left: 19px;
    top: 92px;
    position: absolute;
    background-color: #6e816e;
    height: 510px;
    width: 135px;
    padding-left: 6px;
    padding-top: 13px;
    font-family: "Geneva", Geneva, Arial, sans-serif;
    font-size: 11px;
    color: #ffffff;
	font-weight: lighter;
}

#sidebar a:link
{ 
	text-decoration: none;
}

#sidebar a:visited
{ 
	text-decoration: none; 
}

#sidebar a:hover
{ 
	text-decoration: none; 
} 

#sidebar a:active
{ 
	text-decoration: none;
}

#specialexhibitions
{
    left: 164px;
    top: 74px;
    position: absolute;
    background-color: #6e816e;
    height: 13px;
    width: 550px;
    font-family: "Geneva", Geneva, Arial, sans-serif;
	padding-top: 1px;
	padding-left: 17px;
    font-size: 11px;
    color: #ffffff;
}

#specialexhibitionscontent
{
    left: 164px;
    top: 92px;
    position: absolute;
    background-color: #6e816e;
    height: 296px;
    width: 567px;
    font-family: "Geneva", Geneva, Arial, sans-serif;
    font-size: 11px;
    color: #FFFFCC;
}

#selectedhighlights
{
    left: 164px;
    top: 392px;
    position: absolute;
    background-color: #6e816e;
    height: 13px;
    width: 550px;
    font-family: "Geneva", Geneva, Arial, sans-serif;
    font-size: 11px;
	color: #ffffff;
	padding-top: 1px;
	padding-left: 17px;
}

#selectedhighlightscontent
{
    left: 164px;
    top: 410px;
    position: absolute;
    background-color: #6e816e;
    height: 205px;
    width: 567px;
    font-family: "Geneva", Geneva, Arial, sans-serif;
    font-size: 14px;
    color: #FFFFCC;
	font-weight: normal;
}


#refbg
{
    display: none;
    left: 0px;
    top: 0px;
    background-image: url(referencebg.png); 
    background-repeat: no-repeat;    
    height: 800px; 
    width: 100%; /* may not be necessary */
    position: absolute;
}

#refbghandler
{
    left: 800px;
    top: 0px;
    position: absolute;
}
