body 
{
    margin: 0;
    max-width: 800px;
    font-family: "Geneva", Geneva, Arial, sans-serif;
    font-size: 12px;
    line-height: 1em;
    color: #FFFFFF;
    background-color: #809A80;
}

header 
{

}

footer 
{
    font-family: "Geneva", Geneva, Arial, sans-serif;
    font-size: 10px;
    line-height: 1em;
    color: #FFFFCC;
    background-color: #809A80;
    position: absolute;
    left: 192px;
    top: 635px;
}

a {
    color: #FFFFFF;
}

p1 {
    font-size: 14px;
    line-height: 1.5em;
    padding-left: 2px;
}

p2 {
    font-size: 11.75px;
    line-height: 1.5em;
	padding-left: 11px;
}

#whatsonline
{
    left: 19px;
    top: 74px;
    position: absolute;
    background-color: #6e816e;
    height: 13px;
    width: 135px;
    padding-left: 6px;
    padding-top: 1px;
    font-family: "Geneva", Geneva, Arial, sans-serif;
    font-size: 12px;
    color: #ffffff;
    font-family: "Arial Narrow",Tahoma,Arial,Helvetica,sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: .5px;
}

#sidebar
{
    left: 19px;
    top: 92px;
    position: absolute;
    background-color: #6e816e;
    height: 510px;
    width: 136px;
    padding-left: 5px;
    padding-top: 13px;
    color: #ffffff;
    font-family: "Arial Narrow",Tahoma,Arial,Helvetica,sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: .5px;
	
}

#sidebar a:link
{ 
	text-decoration: none;
}

#sidebar a:visited
{ 
	text-decoration: none; 
}

#sidebar a:hover
{ 
	text-decoration: none; 
} 

#sidebar a:active
{ 
	text-decoration: none;
}

#search
{
    position: relative;
    padding-top: 8px;
    line-height: .4em;
}

#specialexhibitions
{
    left: 164px;
    top: 74px;
    position: absolute;
    background-color: #6e816e;
    height: 13px;
    width: 550px;
    font-family: "Geneva", Geneva, Arial, sans-serif;
	padding-top: 1px;
	padding-left: 17px;
    font-size: 12px;
    color: #ffffff;
    font-family: "Arial Narrow",Tahoma,Arial,Helvetica,sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: .5px;
}

#specialexhibitionscontent
{
    left: 164px;
    top: 92px;
    position: absolute;
    background-color: #6e816e;
    height: 296px;
    width: 567px;
    font-family: "Geneva", Geneva, Arial, sans-serif;
    font-size: 10px;
    line-height: 1.4em;
    color: #FFFFCC;
}

#chuck
{
    position: absolute;
    top: 213px;
    left: 29px;
    width: 150px;
    height: 100px;
}

#treasures
{
    position: absolute;
    top: 213px;
    left: 209px;
    width: 150px;
    height: 100px;
}

#hudson
{
    position: absolute;
    top: 213px;
    left: 389px;
    width: 150px;
    height: 100px;
}

#more
{
    position: absolute;
    top: 274px;
    left: 425px;
    width: 150px;
    height: 100px;
}

#selectedhighlights
{
    left: 164px;
    top: 392px;
    position: absolute;
    background-color: #6e816e;
    height: 13px;
    width: 550px;
    font-family: "Geneva", Geneva, Arial, sans-serif;
    font-size: 12px;
	color: #ffffff;
	padding-top: 1px;
	padding-left: 17px;
    font-family: "Arial Narrow",Tahoma,Arial,Helvetica,sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: .5px;
}

#selectedhighlightscontent
{
    left: 164px;
    top: 410px;
    position: absolute;
    background-color: #6e816e;
    height: 205px;
    width: 567px;
    font-family: "Geneva", Geneva, Arial, sans-serif;
    font-size: 12.9px;
    line-height: 1.35em;
    color: #FFFFCC;
	font-weight: normal;
    letter-spacing: 0px;
}

#now
{
    position: absolute;
    top: 4px;
    left: 79px;
    width: 105px;
    height: 110px;
}

#museum
{
    position: absolute;
    top: 104px;
    left: 79px;
    width: 105px;
    height: 110px;
}

#metstore
{
    position: absolute;
    top: 4px;
    left: 260px;
    width: 105px;
    height: 110px;
}

#collection
{
    position: absolute;
    top: 104px;
    left: 260px;
    width: 105px;
    height: 110px;
}

#membership
{
    position: absolute;
    top: 4px;
    left: 441px;
    width: 105px;
    height: 110px;
}

#mymet
{
    position: absolute;
    top: 104px;
    left: 441px;
    width: 105px;
    height: 110px;
}

#footertext
{
line-height: 0.4em;
}

#footerlinks
{
line-height: 2.4em;   
}

#acknowledgments
{
line-height: 3.5em; 
}

#refbg
{
    display: none;
    left: 0px;
    top: 0px;
    background-image: url(referencebg.png); 
    background-repeat: no-repeat;    
    height: 800px; 
    width: 100%; /* may not be necessary */
    position: absolute;
}

#refbghandleralt
{
    left: 800px;
    top: 0px;
    position: absolute;
}