body 
{
    margin-top: 75px;
    font-family: “Century Gothic”, CenturyGothic, AppleGothic, sans-serif;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
    background-color: #303030;
    -webkit-font-smoothing: antialiased;
    letter-spacing: .5px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 150px;
    padding-right: 150px;
}

a
{
    font-size: 18px;
    color: #78FFB4;
}

h1
{
    font-size: 48px; 
    line-height: 50%;
}

h2
{
    font-size: 24px;
    line-height: 50%;
}

h3
{
    text-align: justify;
    font-size: 14px;
    font-weight: normal;
}

#begin
{
    padding-top: 75px;
    padding-left: 500px;
}
