body 
{
    margin-top: 250px;
    font-family: “Century Gothic”, CenturyGothic, AppleGothic, sans-serif;
    font-size: 14px;
    text-align: center;
    color: #000000;
    background-color: #A8D1C3;
    -webkit-font-smoothing: antialiased;
    letter-spacing: .5px;
    margin-left: auto;
    margin-right: auto;
}

a
{
    font-size: 18px;
    color: #E7485E;
}

h1
{
    font-size: 48px; 
}

h2
{
    font-size: 24px;
}

#begin
{
    padding-top: 150px;
    padding-left: 500px;
}
