body 
{
    margin: 0;
    max-width: 800px;
    font-family: "Geneva", Geneva, Arial, sans-serif;
    font-size: 12px;
    line-height: 1em;
    color: #FFFFFF;
    background-color: #000000;
}

a
{
  color: #00FFFF  
}