/* style.css */


/* colors: 
white: #fff;
light grey: #f4f4f4;
grey: #707070;
dark: #232323;
blue: #63A69F;
darkened blue: #30736C;
lightened blue: #96D9D2;
*/

.hidden {
    display: none;
}

body {
  background: #f4f4f4;
  font-size: 14px;
  line-height: 26px;
  color: #232323;
  margin: 0;
  padding: 0;
  word-wrap: break-word !important;
  font-family: 'PT Mono', sans-serif;
}

/* Navigation
--------------------------------------------- */

nav {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

#logo {
    display:flex;
    justify-content:center;
    align-items:center;
    margin-left: 20px;
    padding: 0 30px;
    float: left;
    font-size: 20px;
    --background-color: #232323;
    height: 100px;
    width: 50px;
    text-align: center;
    color: #fff;
}

#logo img {
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
    width: 100px;
}

#logo img:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

nav a.brand {
    margin:0;
    padding:0;
}

nav a.brand:hover {
    margin:0;
    padding:0;
    -moz-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
}

nav:after {
    content: "";
    display: table;
    clear: both;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    margin-left:160px;
    text-align: center;
    z-index: 1;
}

nav ul a {
    transition: 0.25s linear;
}

nav ul a:hover {
    color:#63A69F;
}

nav ul li {
    padding: 0.75em;
    margin: 0px;
    display: inline-block;
    margin-top: 25px;
    background-color: #ffffff;
    text-transform: uppercase;
}

nav a:hover {
    border-bottom: 1px solid #63A69F;
}

nav a {
    display: block;
    padding: 0px 20px;
    color: #000;
    font-size: 16px;
    text-decoration: none;
    font-family: 'PT Mono', sans-serif;
    border: 1px solid #FFFFFF;
}

nav a.active {
    border: 1px solid #000;
}

nav ul li ul li:hover { color: #000000; }

nav ul li ul a {
    color: white;
    transition: 0.25s linear;
    border: none;
}

nav ul li ul a:hover {
    display: relative;
    padding-left: 30px;
    color: #fff;
    border: none;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 60px;
    margin: 0;
    padding:0;
    text-align: left;
    transition: 0.25s linear;
}

nav ul li:hover > ul { display: inherit; }

nav ul ul li {
    background-color: #000;
    color: #fff;
    width: 225px;
    float: none;
    display: list-item;
    position: relative;
    margin:0;
    margin-left: -2em;
    top: 1em;
    
}

nav ul ul ul li {
    color: #fff;
    position: relative;
    top: -60px;
    left: 170px;
}

li > a:after { content: ''; }

li > a:only-child:after { content: ''; }


/* Content
--------------------------------------------- */

h1, h2, h3, h4 {
    font-size: 20px;
    --line-height: 34px;
    color: #000;
    padding-top: 1em;
    border-top: 4px #000 double;
    font-weight: 300;
    letter-spacing: 2px;
}

h1 {
    text-align: center;
    font-size: 21px;
    font-family: 'PT Mono', sans-serif;
    text-transform: uppercase;
}

h2 {
    text-transform: uppercase;
}

h3, h4 {
    font-size: 16px;
    text-align: center;
}

h3 {
    text-transform: none;
}

h4 {
    border-top: none;
    text-transform: none;
}

.w3-content{max-width:980px;margin:auto}
.w3-display-container{position:relative}
.w3-display-container:hover .w3-display-hover{display:block}.w3-display-container:hover span.w3-display-hover{display:inline-block}.w3-display-hover{display:none}
.w3-display-topleft{position:absolute;left:0;top:0}.w3-display-topright{position:absolute;right:0;top:0}
.w3-display-bottomleft{position:absolute;left:0;bottom:0}.w3-display-bottomright{position:absolute;right:0;bottom:0}
.w3-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.w3-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.w3-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.w3-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.w3-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.w3-center{text-align:center!important}
.w3-bar-block.w3-center .w3-bar-item{text-align:center}.w3-block{display:block;width:100%}
.w3-bar{width:100%;overflow:hidden}.w3-center .w3-bar{display:inline-block;width:auto}
.w3-section,.w3-code{margin-top:16px!important;margin-bottom:7px!important}
.w3-large{font-size:18px!important}
.w3-text-white,.w3-hover-text-white:hover{color:#fff!important}
.w3-left{float:left!important; padding:10px; padding-left:20px}.w3-right{float:right!important; padding:10px; padding-right:20px}
.w3-text-grey,.w3-hover-text-grey:hover,.w3-text-gray,.w3-hover-text-gray:hover{color:#757575!important}
.w3-badge,.w3-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.w3-badge{border-radius:50%}
.w3-border{border:1px solid #ccc!important}
.w3-transparent,.w3-hover-none:hover{background-color:transparent!important}
.w3-white,.w3-hover-white:hover{color:#000!important;background-color:#fff!important}
.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}
.w3-container:after,.w3-container:before,.w3-panel:after,.w3-panel:before,.w3-row:after,.w3-row:before,.w3-row-padding:after,.w3-row-padding:before,
.w3-cell-row:before,.w3-cell-row:after,.w3-clear:after,.w3-clear:before,.w3-bar:before,.w3-bar:after{content:"";display:table;clear:both}
.w3-container,.w3-panel{padding:0.00em 0px}.w3-panel{margin-top:16px;margin-bottom:16px}


.w3-display-topleft{
    width: 40%;
    top: 25%; 
    left: 10%;
    background-color: rgba(255, 255, 255, 0.7);
}

.w3-display-topmiddle{
    width: 40%;
    top: 5%;
    background-color: rgba(255, 255, 255, 0.7);
}

.w3-display-topright{
    width: 40%;
    top: 10%;
    right: 10%;
    background-color: rgba(255, 255, 255, 0.7);
}

#spotlight2 {
    height: 450px;
    background-image: 
    linear-gradient(
        to right,
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0)
    ),
    url(images/banner.jpg);
    background-size: cover;
    background-position: 100%;
    overflow: hidden;
}

#spotlight img { 
    position: relative; 
    width: 100%; /* for IE 6 */
    
}

#spotlight h1 { 
    border-top: none;
    color: black;
}

.title {
    font-family: "Open Sans";
    font-size: 32px;
    text-align: center;
    text-transform: none;
    font-weight: 800;
    padding-top: 0;
    color: #707070;
}

.subtext {
    font-family: "Open Sans";
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    padding-top: 0;
}

h3 a { color: #000; }

a { 
    color: #63A69F; 
    text-decoration: none;
    font-family: "Open Sans";
}

#container {
  margin: 0 auto;
  max-width: 890px;
}

p { 
    text-align: left; 
    font-family: "Open Sans";
    color: #707070;
}

 .toggle, [id^=drop] {
    display: none;
}

#content {
    background: #fff;
    padding: 1.5em;
    max-width: 890px;
    margin: 2em auto;
}

#content img {
    width: 100%;
}

#content .round {
    border-radius: 50%;
 
}

/*resume embedded pdf*/
#pdf {
    position:relative;
    margin: 0 auto;
    width: 90%;
    height: 0px;
    padding-bottom: 120%; /* proportional scaling */
}

#pdf object {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

#flexcontainer {
    display: flex;
    margin-top: 1em;
}

#column1, #column2, #column3 {
    flex: 1;
    margin: 0 1em;
}

#flexcontainer img {
    padding-top: 1em;
}


#column3 table {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 15px;
}

#column3 td {
    padding: 2px 12px;
    border: 1px solid #cccccc;
    display:table-cell;
    
    vertical-align: middle;
    transition: 0.5s linear;
}

#column3 td:hover {
    border: 1px solid #232323;
    box-shadow: 0px 0px 10px #888888;
}

#column1 a {
   text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 11pt;
}

#column3 .social {
    width:20px;
}

#column1 {
    
}

/* Timeline
--------------------------------------------- */
.timeline {
  list-style: none;
}

.timeline h3 {
    font-family: "Open Sans";
    margin: 0;
    padding: 0;
    border: 0;
    text-align: left;
}

.timeline p {
    margin: 0;
    padding-bottom: 50px;
    border: 0;
    text-align: none;
}

/* for Desktop */
.timeline li {
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: relative;
    margin-left: -45px;
}

.timeline-date {
    width: 75px;
    float: left;
    margin-top: 20px;
    text-align: right;
    padding-right: 30px;
}

.timeline-content {
    width: 61%;
    float: left;
    border-left: 3px #cccccc solid;
    padding-left: 30px;
}

.timeline-content:before {
    content: '';
    width: 12px;
    height: 12px;
    background: #63A69F;
    position: absolute;
    left: 101px;
    top: 10px;
    border-radius: 100%;
}


/* Gallery
--------------------------------------------- */
#gallery {
    max-width: 975px;
    margin: 2em auto;
}


#gallery h2 {
    text-align: center;
    border: none;
    margin:0;
    text-transform: none;
    font-weight:500;
    font-family: "Open Sans";
}

#gallery p {
    margin: 0;
    padding: 1em 2em;
    text-align: center;
    font-weight: 100;
    font-style:italic;
}

#gallery table {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 20px;
}

#gallery td {
    width: 33%;
}

#card {
    background: #fff;
    transition: 0.5s ease;
}

#card:hover {
    box-shadow: 0px 0px 10px #888888;
    transition: 0.5s ease;
    transform: scale(1.1,1.1);
}

#card img {
    width: 100%;
}

/* youtube embed fixes */
#card #videocontainer {
    position:relative;
    width: 100%;
    height: 0px;
    padding-bottom: 56%; /* proportional scaling */
}

#card #videocontainer iframe, #card #videocontainer video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}
    
/* Animated about image
--------------------------------------------- */
.profile {
    border-radius: 50%;
    -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
    -moz-animation-name: fuzzfadein;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-out;
    -moz-animation-duration: 1s;
    -webkit-animation-name: fuzzfadein;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 1s;
    animation-name: fuzzfadein;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 1s;
}

.profile:hover {
   -webkit-transform:rotate(-15deg);
    -moz-transform:rotate(-15deg);
    transform:rotate(-15deg);
}
    
@-moz-keyframes fuzzfadein {
    0% {
        -webkit-filter: blur(5px);
    }
    100% {
        -webkit-filter: blur(0px);
    }
}

@-webkit-keyframes fuzzfadein {
    0% {
        -webkit-filter: blur(5px);
    }
    100% {
        -webkit-filter: blur(0px);
    }
}

@keyframes fuzzfadein {
    0% {
        -webkit-filter: blur(5px);
    }
    100% {
        -webkit-filter: blur(0px);
    }
}


/* Download Button
--------------------------------------------- */

.button {
    margin: 1em auto;
    background-color: #eeeeee;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
    background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
    background-image: linear-gradient(top, #eeeeee, #cccccc);
    border: 1px solid #ccc;
    border-bottom: 1px solid #bbb;
    border-radius: 3px;
    color: #333;
    font: bold 11px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    padding: 8px 0;
    text-align: center;
    text-shadow: 0 1px 0 #eee;
    width: 150px; 
    margin-bottom: 3em;
}

.button:hover {
    background-color: #dddddd;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd), color-stop(100%, #bbbbbb));
    background-image: -webkit-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -moz-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -ms-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -o-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: linear-gradient(top, #dddddd, #bbbbbb);
    border: 1px solid #bbb;
    border-bottom: 1px solid #999;
    cursor: pointer;
    text-shadow: 0 1px 0 #ddd; 
}

.button:active {
    border: 1px solid #aaa;
    border-bottom: 1px solid #888;
    -webkit-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
      box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
}

.button a {
    color: #232323;
    font-family: "Open Sans";
    font-size: 125%;
}


/* Contact Form
--------------------------------------------- */

#contact-form {
    background-color:#f4f4f4;
    width:465px;
    padding:20px;
    margin: 50px auto;    
    border: 6px solid #63A69F;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
    position:relative;
}
 
#contact-form h1 {
    font-size:42px;
}
 
#contact-form h2 {
    margin-bottom:15px;
    font-style:italic;
    font-weight:normal;
}
 
#contact-form input, 
#contact-form select, 
#contact-form textarea, 
#contact-form label {
    font-size:15px;
    margin-bottom:2px;
}
 
#contact-form input, 
#contact-form select, 
#contact-form textarea {
    width:450px;
    border: 1px solid #96D9D2;
    margin-bottom:20px;
    padding:4px;
}
 
#contact-form input:focus, 
#contact-form select:focus, 
#contact-form textarea:focus {
    border: 1px solid #AFCDD8;
    background-color: #FCFFFF;
}

#contact-form input, #contact-form textarea {
    font-family: "Open Sans";
}

#contact-form textarea {
    height:150px;
    resize: none;
}
 
#contact-form label {
    display:block;
}
 
#contact-form .required {
    font-weight:bold;
    color:#63A69F;    
}
 
#contact-form #submit-button {
    width: 100px;
    color:#FFF;
    border:none;
    display:block;
    float:right;
    margin-bottom:0px;
    margin-right:6px;
    background-color:#63A69F;
    -moz-border-radius:8px;
}
 
#contact-form #submit-button:hover {
    background-color: #30736C;
}
 
#contact-form #submit-button:active {
    position:relative;
    top:1px;
}
 
#errors {
    border:solid 1px #E58E8E;
    padding:10px;
    margin:25px 0px;
    display:block;
    width:437px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    background:#FFE6E6 url(../img/cancel_48.png) no-repeat 405px center;
    display:none;
}
 
#errors li {
    padding:2px;
    list-style:none;    
}
 
#errors li:before {
    content: ' - ';    
}
 
#errors #info {
    font-weight:bold;
}
 
#errors #info:before {
    content: '';    
}
 
#success {
    border:solid 1px #83D186;
    padding:25px 10px;
    margin:25px 0px;
    display:block;
    width:437px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    background:#D3EDD3 url(../img/accepted_48.png) no-repeat 405px center;
    font-weight:bold;
    display:none;
}
 
#errors.visible, #success.visible {
    display:block;    
}
 
#req-field-desc {
    font-style:italic;
}
 
/* Remove box shadow firefox, chrome and opera put around required fields. It looks rubbish. */
input:required, textarea:required {
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    -o-box-shadow:none;
    box-shadow:none;
}
 
/* Normalize placeholder styles */
 
/* chrome, safari */
::-webkit-input-placeholder {
    color:#CCC;
    font-style:italic;
}
 
/* mozilla */
input:-moz-placeholder, textarea:-moz-placeholder {
    color:#CCC;
    font-style:italic;
}
 
/* ie (faux placeholder) */
input.placeholder-text, textarea.placeholder-text  { 
    color:#CCC;
    font-style:italic;
}



/* Media Queries
--------------------------------------------- */

/* PHONES
///////////////*/
@media all and (max-width : 480px) {

    #logo {
        float: none;
    }

    .toggle + a, .menu { 
         display: none; 
        visibility: none;
    }

    .toggle {
        display: block;
        background-color: #63A69F;
        padding: 0 20px;
        color: #FFF;
        font-size: 20px;
        line-height: 60px;
        text-decoration: none;
        border: none;
        text-align: center;
        font-family: "Open Sans";
        width: 20px;
        --height: 20px;
        position: absolute;
        top: 25px;
        right: 25px;
        transition: all 0.25s ease-out;
    }

    .toggle:hover { 
        background-color: #000000; 
        transition: all 0.25s ease-in;
    }

    [id^=drop]:checked + ul { 
        display: block; 
    }

    nav { 
        margin: 0; 
    }
    
    nav a { 
        padding: 20px; 
    }
    
    nav a.active { 
        border:none;
    }
    
    nav ul {
        margin: 0;
        padding: 0;
    }
    
    nav ul li {
        display: block;
        background: #63A69F;
        margin: 0 20px;
        padding: 0;
    }
    
    nav ul a {
        color: #fff;
        font-family: 'PT Mono', sans-serif;
    }
    
    nav ul a:hover {
        color: #fff;
    }
    
    nav ul li ul {
        position: static;
        margin-top: -25px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        
    }
    
    nav ul li ul li {
        margin: 0;
        padding: 0;
        width: 100%;
        display: block;
        float: none;
    }
    
    
    .w3-display-topleft{
        top: 15%; 
    }

    #spotlighttext {
        border: none;
        position: relative; 
        top: 60%; 
        left: 0%; 
        width: 100%;
        padding: 0px;
    }

    #spotlight h1 { 
        border-top: none;
    }

    .title {
        font-family: "Open Sans";
        font-size: 20px;
        text-align: center;
        text-transform: none;
        font-weight: 800;
        padding-top: 0;

    }

    .subtext {
        font-family: "Open Sans";
        font-size: 11px;
        text-align: center;
        text-decoration: none;
        text-transform: none;
        padding-top: 0;
        display: none;

    }
    
    #flexcontainer {
        flex-direction: column;
    }
    
    #gallery td {
        float:left;
    }
    
    
    .timeline {
        margin-left: -50px;
        
    }
    .timeline > li {
        margin-bottom: 30px;
    }

    .timeline p {
    padding-bottom: 10px;

    }
    
  .timeline li {
    --overflow:visible;
    margin: 0;
    padding: 0;
    position: relative;
    --margin-left: -45px;
      margin-bottom: 2em;
  }
  .timeline-date {
    width: auto;
    float: none;
    margin-top: 20px;
    text-align: left;
    padding-right: 30px;
      font-weight: bold;
  }
  .timeline-content {
    width: 85%;
    float: none;
    border-left: 3px #cccccc solid;
    padding: 0;
    padding-left: 30px;
  }
  .timeline-content:before {
    display:none;
  }

    #gallery td {
        width: 100%;
        margin-bottom: 1em;
    }
    
    #contact-form {
        width:300px;
    }
    
    #contact-form input, 
    #contact-form select, 
    #contact-form textarea {
        width: 280px;
    }
    
}

/* TABLETS
///////////////*/
@media screen and (min-Width: 481px) and  (max-Width: 768px) {
    #logo {
        float: none;
    }
    
    nav ul {
        margin-left: 0;
    }
    
    #flexcontainer {
        flex-direction: column;
    }
    
    #gallery td {
        width: 33%;
    }
    
    .w3-display-topleft{
        width: 45%;
        top: 15%; 
        left: 5%;
    }

    .w3-display-topmiddle{
        width: 45%;
        top: 5%;
    }

    .title {
        font-size: 22px;
    }

    .subtext {
        font-size: 14px;

    }
}