/* style.css */

/* http://themeforest.net/item/thor-html5-creative-template/full_screen_preview/11929229?ref=freshdesignweb&ref=freshdesignweb&clickthrough_id=686164065&redirect_back=true */

/* colors: 
white: #fff;
dark: #232323;
blue: #63A69F;
*/


body {
  background: #f4f4f4;
  font-size: 14px;
  line-height: 26px;
  color: #232323;
  margin: 0;
  padding: 0;
  word-wrap: break-word !important;
  font-family: 'PT Mono', sans-serif;
}

/* Navigation
--------------------------------------------- */

nav {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    --position: fixed;
}

#logo {
    display:flex;
    justify-content:center;
    align-items:center;
    padding: 0 30px;
    float: left;
    font-size: 20px;
    background-color: #232323;
    height: 100px;
    width: 85px;
    text-align: center;
    color: #fff;
}

nav:after {
  content: "";
  display: table;
  clear: both;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    margin-left:145px;
    text-align: center;
    
}

nav ul a:hover {
    color:#63A69F;
}

nav ul li {
    margin: 0px;
    display: inline-block;
    margin-top: 20px;
    --float: left;
    background-color: #ffffff;
    text-transform: uppercase;
}

nav a {
  display: block;
  padding: 0 20px;
  color: #000;
  font-size: 16px;
  line-height: 60px;
  text-decoration: none;
}

nav ul li ul li:hover { color: #000000; }

nav ul li ul a {
    color: white;
    transition: 0.25s linear;
}

nav ul li ul a:hover {
    display: relative;
    padding-left: 30px;
    color: #fff;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 60px;
    margin: 0;
    padding:0;
    text-align: left;
    transition: 0.25s linear;
}

nav ul li:hover > ul { 
    display: inherit;
}

nav ul ul li {
    background-color: #000;
    color: #fff;
    width: 225px;
    float: none;
    display: list-item;
    position: relative;
    margin:0;
    margin-left: -2em;
    top: 1em;
    
}

nav ul ul ul li {
    color: #fff;
    position: relative;
    top: -60px;
    left: 170px;
}

li > a:after { content: ''; }

li > a:only-child:after { content: ''; }

/* Content
--------------------------------------------- */

h1 {
    text-align: center;
    font-size: 24px;
    line-height: 70px;
    font-family: 'PT Mono', sans-serif;
}

h2, h3, h4 {
    font-size: 20px;
    --line-height: 34px;
    color: #000;
    padding-top: 1em;
    border-top: 4px #000 double;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h3, h4 {
    font-size: 16px;
    text-align: center;
}

h4 {
    border-top: none;
    text-transform: none;
}

h3 a { color: #000; }

a { 
    color: #63A69F; 
    text-decoration: none;
    font-family: "Open Sans";
}

#container {
  margin: 0 auto;
  max-width: 890px;
}

p { 
    text-align: left; 
    font-family: "Open Sans";
    color: #707070;
}

 .toggle, [id^=drop] {
 display: none;
}

#content {
    background: #fff;
    padding: 1.5em;
    max-width: 890px;
    margin: 2em auto;
}

#content img {
    width: 100%;
}

#flexcontainer {
    display: flex;
    margin-top: 1em;
}

#column1, #column2, #column3 {
    flex: 1;
    margin: 0 1em;
}

#flexcontainer img {
    padding-top: 1em;
}


#column3 table {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 15px;
}

#column3 td {
    padding: 2px 12px;
    border: 1px solid #cccccc;
    display:table-cell;
    
    vertical-align: middle;
    transition: 0.5s linear;
}

#column3 td:hover {
    border: 1px solid #232323;
    box-shadow: 0px 0px 10px #888888;
}

#column3 a {
   text-align: center;
    display: block;
    margin: 0 auto;
}

#column3 img {
    width:20px;
}


/* Media Queries
--------------------------------------------- */

@media all and (max-width : 480px) {

#logo {
  display: block;
  padding: 0;
  width: 100%;
  text-align: center;
  float: none;
}

nav { margin: 0; }

.toggle + a,
 .menu { display: none; }

.toggle {
    display: block;
    background-color: #63A69F;
    padding: 0 20px;
    color: #FFF;
    font-size: 20px;
    line-height: 60px;
    text-decoration: none;
    border: none;
    text-align: center;
    font-family: sans-serif;
}

.toggle:hover { background-color: #000000; }

[id^=drop]:checked + ul { display: block; }

nav ul li {
  display: block;
  width: 100%;
}

nav ul ul .toggle,
 nav ul ul a { padding: 0 40px; }

nav ul ul ul a { padding: 0 80px; }

nav a:hover,
 nav ul ul ul a { background-color: #000000; }

nav ul li ul li .toggle,
 nav ul ul a { background-color: #212121; }

nav ul ul {
  float: none;
  position: static;
  color: #ffffff;
}

nav ul ul li:hover > ul,
nav ul li:hover > ul { display: none; }

nav ul ul li {
  display: block;
  width: 100%;
}

nav ul ul ul li { position: static;

}
}

@media screen and  (max-Width: 480px) {
    
    nav ul li {
      display: block;
      width: 94%;
    }
}

@media screen and (min-Width: 481px) and  (max-Width: 768px) {
    
}