body 
{
    margin: 100px;
    margin-top: 25px;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.5em;
    color: #FFFFFF;
    background-color: #000000;
    -webkit-font-smoothing: antialiased;
    letter-spacing: .5px;
}

a
{
  color: #00FFFF;
}

h2
{
  text-align: center;
}

img.header
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#bio
{
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    background-color:#202020;
}

#media
{
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    background-color:#202020;
}

#links
{
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    background-color:#202020;
}