* {margin:0; padding: 0;}

html, body {
	min-width:320px;
	margin:0;
	padding:0;
	font-family: sans-serif;
    color: #666;
    font-size: 14px;
	background-color: #222222;
    --position: absolute;
    background-image: url(images/bg2.jpeg);
    background-size: auto 100%;
    background-repeat: no-repeat;
}

p {
	margin: 2em;
}

h3 {
    color: rgba(60, 42, 38, 1);
    margin-top: 0.5em;
    border-bottom: 2px;
    border-bottom-color: rgba(71, 103, 79, 1);
    border-bottom-style: solid;
    font-size: 18px;
    padding-bottom:0.25em;
    margin-left: 2em;
    margin-right: 2em;
    text-align:center;
}

#wrapper {
	margin-left: auto;
	margin-right: auto;
	overflow:hidden;
	margin:5px;
}

.header {
	clear:both;
	padding-top:100px;
	text-align: center;
}

nav {
    position: relative;
	margin-left: auto;
	margin-right: auto;
    margin-top: 10px;
    width:60%;
	display:block;
}

nav ul {
    list-style-type: none;
    margin: 0;
    --columns: 2;
    --webkit-columns: 2;
    --moz-columns: 2;
    overflow: hidden;
    background-color:rgba(255, 255, 255, 0.8);
    border-radius: 15px;
}

nav li {
    text-align: center;
    --float:left;
    --width: 50%;
    padding:10px;
    border: 1px solid;
    border-color:rgba(0, 0, 0, 0.5);
}

nav li a {
    display: inline;
    color: #666;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

section#content {
    border-radius: 15px;
    font-size: 1em;
    padding: 8%;
	position: relative;
	margin-left: auto;
	margin-right:auto;
}

.col1 {
	min-width:240px;
	--float:left;
	padding:10px 0;
	border:1px solid #000;
	background-color:rgba(255, 255, 255, 0.8);
	margin:0 5px 5px 0;
}
.col2 {
	min-width:240px;
	--float:left;
	--width:100%;
	margin:0 -638px 5px 0;
	--min-width:960px;
	padding:1px 0;
}
.col3{
	min-width:240px;
	margin:0 0 5px 0;
	--float:left;
	padding:10px 0;
	background-color:rgba(255, 255, 255, 0.8);
	border:1px solid #000;
}

#ad {
	min-width:240 5px 0;
	--float:left;
	--border:1px solid #000;
}

#ad img {
	opacity: 0.9;
	border-radius: 15px;
	max-width:100%;
	max-height:100%;
}

.inner {
	background-color:rgba(255, 255, 255, 0.8);
	min-height:0;
	margin:0 643px 0 0;
	padding:1px 0;
	border:1px solid #000;
	min-width:240px;
}

.footer{
	clear:both;
	background-color:rgba(0, 0, 0, 0.5);
	margin:5px 0;
	color: #999;
	text-align: center;
    margin-bottom:20px;
    position: relative;
	margin-left: auto;
	margin-right: auto;
    width:270px;
	position: relative;
}

table  {
    padding: 1em 0;
    margin-left: auto;
    margin-right: auto;
}

td {
    font-weight:700;
    font-size: 14px;
    padding: 0.25em 1em;
    --padding-right: 1em;
}

/* cosmetics*/
#nav ul, .col1, .footer, .header, .col2, .col3, .inner {
	-khtml-border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	border-color:rgba(0, 0, 0, 0.5);
}