/* responsive.css */

/* use downloaded font */
@font-face  
{          
    font-family: "Hand of Sean";
    src: url('Hand_Of_Sean_Demo.ttf') format('truetype');
}

body	
{          
    margin: 20px 45px;
    padding: 0;
    font-family: Arial Narrow;
    font-size: 18px;
    background-image: url(images/wallpaper.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
}

header {
    height: 200px;
}


header img {
    width:150px;
    float: left;
}

#container {
    display: flex;
    flex-direction: row;
    -webkit-column-count: 2; 
    -moz-column-count: 2; 
    column-count: 2;
}

#searchbox {
	position: absolute;
	top: 25px;
	right: 50px;
}

/* search box styling */
input[type=text] {
	padding: .2em;
	border: 1px dashed #674942;
	background: hsla(0,0%,100%,.7);
}
input[type=text]:focus {
	background: hsla(0,0%,100%,.9);
	outline: none;
}
input[type=submit] {
	padding: .1em .2em;
	border: 1px solid hsla(0,0%,0%,.3);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #674942;
	background-image: -moz-linear-gradient(hsla(0,0%,100%,0), hsla(0,0%,100%,.3));
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(hsla(0,0%,100%,0)), to(hsla(0,0%,100%,.3)));
	color: #fff;
	text-shadow: 0 -1px 0 hsla(0,0%,0%,.8);
}

/* menu positioning and characteristics */
#nav {
    font-size: 18px;
    color: white; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a {
        color: white;
        padding: 8px 16px 8px 16px;
        text-decoration: none;
    }

li a:hover {
    color: #BFA686;
}

#store {
    flex: 2;
    order: 2;
    padding-top: 0.5em;
    padding-left: 1em;
    padding-bottom: 1em;
    padding-right: 0.5em;
}

#world {
    flex: 2;
    order: 3;
    padding-top: 0.5em;
    padding-left: 1em;
    padding-bottom: 1em;
    padding-right: 0.5em;
}

/* set section headlines */
section h1	
{
    font-family: "Hand of Sean";
    color: #786352;
    --color: white;
    text-align: center;
}

section img {
    width: 100%;
}


.feature {
        padding: 3% 15%;
        text-align:center;
        border: 3px dashed #674942;
        margin-bottom: 0.25em;
    }
    
    .feature img {
        width: 200px;
        border: 1px solid #674942;
    }
    .feature h2
    {
        margin-bottom:0;
    }
    .feature p
    {
        font-style:italic;
    }

p 
{
    color: #786352;
    --color: white;
}
	

table  
{
    margin-left: auto;
    margin-right: auto;
}

td 
{
    font-family: "Hand of Sean";
    font-size: 16px;
    padding: 0.5em;
    padding-right: 1em;
}

tr:nth-of-type(odd)		
{ 
    color:#674942; 
}

tr:nth-of-type(even)	
{ 
    color:#BFA686; 
}

footer
{
    margin-top: 3em;
    font-family: Arial;
    font-size: 10pt;
    --font-style:oblique;
    letter-spacing: 1.5px;
    text-align:center;
} 

footer p {
	margin: 0;
	font-size: 88%;
	line-height: 1.2;
}

footer a {
	color: #BFA686; 
}

h2 {
    font-family: "Hand of Sean";
    font-size: 120%;
}

h3 {
    margin:0;
    color: #674942;
    font-variant: small-caps;
    font-weight: bold;
    font-family: Arial;
}

#contact {
	float: left;
	width: 50%;
}

#credits {
	float: right;
	width: 50%;
}


/* ////////////////PHONE */
@media screen and (max-Width: 480px) {
    body {
        background-color: yellow;
        margin: 20px 25px;
    }
    
    header {
        margin-left: auto;
        margin-right: auto;
        width: 150px;
    }
    
    #searchbox {
        position: static;
        width: 205px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1em;
    }
    
     ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    }
    
    nav {
       margin-top: 2em;
    }
    

    li a {
            display: block;
            font-variant: small-caps;
            font-weight: bold;
            font-family: Arial;
            border: 3px dashed #674942;
            background-color: rgba(103,73,66,0.75);
            margin-left: 0.5em;
            text-align:center;
            margin-top:5px;

     }
    
    #container {
        flex-direction: column;
        margin-top: 2em;
    }
    
    section h1	
    {
        font-family: "Hand of Sean";
        color: #786352;
        font-size: 18px;
        text-align: center;
    }
    
    p {
        font-size:85%;
    }
    
    section h2 {
        font-size: 100%;
    }
    
    section h3 {
        font-size: 90%;
    }
    
    td {
    font-size: 14px;
    padding: 0.5em;
    padding-right: 1em;
}
    
    .feature img {
        width:120px;
    }
    
    #contact {
        float: none;
        width: 100%;
        
    }
    
    #credits {
        margin-top: 2em;
        width: 100%;
        float:none; 
    }
}


/* ////////////////TABLET */
@media screen and (min-Width: 481px) and (max-Width: 769px) {
    body {
        background-color: aqua;
    }
    
     ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    }
    
    header {
        margin-top: 55px;
        margin-left: auto;
        margin-right: auto;
        width:150px;
    }
    
    #nav {
        -webkit-column-count: 2; 
    -moz-column-count: 2; 
    column-count: 2;
    }

    li a {
            display: block;
            font-variant: small-caps;
            font-weight: bold;
            font-family: Arial;
            border: 3px dashed #674942;
            background-color: rgba(103,73,66,0.75);
            margin-left: 0.5em;
            margin-top:5px;
            text-align:center;

     }
    
    .feature img {
        width:150px;
    }
    
    p {
        font-size:90%;
    }
    
    section h2 {
        font-size: 110%;
    }
    section h3 {
        font-size: 100%;
    }
}

/* ///////////////DESKTOP */
@media screen and (min-Width: 770px) and  (max-Width: 1200px) {
    body {
        background-color: red;
    }
    
    #container {
        margin-top: 1em;
    }
    
    header {
        margin-left: 25px;
    }
    
    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
    
    #nav {
        
    }

    li {
        float: left;
    }

    li a {
            display: block;
            font-variant: small-caps;
            font-weight: bold;
            font-family: Arial;
            border: 3px dashed #674942;
            background-color: rgba(103,73,66,0.75);
            margin-left: 0.5em;

     }

    p.first:first-line 
    {
        font-variant: small-caps;
        font-weight: bold;
        font-family: Arial;
    }

    p.first:first-letter
    {
        float:left;
        font-family: Arial Black;
        color: #674942;
        font-size: 4em;
        padding: 0.1em 0.1em 0.01em 0;
        margin-top: -0.4em;
    }

    /* Change the link color to #111 (black) on hover */
    li a:hover {
        color: #BFA686;
    }
    
   section h1 {
        z-index:1;
        position: relative;
        color: white;
        font-size:150%;
        color: white;
        text-shadow: 1px 1px 2px black, 0 0 25px #BFA686, 0 0 5px #674942;
        
    }
    
    section img {
    margin-top: -75px;
    z-index: 500;
    }
    
    .feature img {
        margin-top:auto;
    }
    
     #menu {
        margin-left: 3em;
        margin-right: 3em;
    }
    
    #menu h1 {
        text-shadow:none;
        color:#674942;
    }
    
}

/* /////////////WIDE */
@media screen and (min-Width: 1201px) {
    header {
        margin-left: 25px;
    }
    
    #nav {
        float:left;
        display: block;
        text-align: right;
        width: 200px;
        overflow: hidden;
    }
    
    ul {
        margin: 0;
        padding: 0;
        width: 200px;
    }

    li a {
        display: block;
        padding: 8px 0 8px 16px;
        font-variant: small-caps;
        font-weight: bold;
        font-family: Arial;
        border: 3px dashed #674942;
        background-color: rgba(103,73,66,0.75);
        margin: 0.5em 0;
        padding-right: 1em;
}
    
    p.first:first-line 
    {
        font-variant: small-caps;
        font-weight: bold;
        font-family: Arial;
    }

    p.first:first-letter
    {
        float:left;
        font-family: Arial Black;
        color: #674942;
        font-size: 4em;
        padding: 0.1em 0.1em 0.01em 0;
        margin-top: -0.4em;
    }

    #store {
        margin-left: 2em;
    }

     #world {
        margin-left: 2em;
    }
    
    section h1 {
        z-index:1;
        position: relative;
        top: 20px;
        color: white;
        font-size:200%;
        color: white;
        text-shadow: 1px 1px 2px black, 0 0 25px #BFA686, 0 0 5px #674942;
        
    }
    
    section img {
    margin-top: -75px;
    z-index: 500;
    }
    
    .feature img {
        margin-top:auto;
        width:225px;
    }

    #menu {
        margin-left: 3em;
        margin-right: 3em;
    }
    
    #menu h1 {
        text-shadow:none;
        color:#674942;
    }
    
}