/* tooltips.css */

/*  white #fff
    gray #E6E7E8
    dark gray #373435
    blue #2B395A
    red #ED2F59 */

body {
    margin: 0;
    padding: 0;
    background-color: #E6E7E8;
    font-family: "Roboto", sans-serif;
    min-width:920px;
    color: #373435;
}

h2 {

}

h3 {
    color: #373435;
    margin-top: 3em;
    text-align: right;
}

/* ///////////tooltips///////////// */

#content a.tooltip, a.enlarge {
    text-decoration: none;
    cursor: default;
    color: #373435;
    border-bottom: 1px solid #ED2F59;
}

#content a:hover	{
    text-decoration:none;
}
	
#content a.tooltip	{
    position:relative;
}
	
#content a.tooltip span	{
    display:none;
}
	
#content a.tooltip:hover span	{
    display:block;
    position:absolute;
    top:1em;
    font-size:0.7;
    --width:20em;
    padding:0.5em 1em;
    background-color:#333;
    z-index:10;
    color:white;
}
							
#content div#roll-image	{
    position: relative;
    text-align:center;
}

#content div#roll-image2	{
    text-align: inherit;
    position: relative;
}
	
#content a.enlarge span img	{
    height:0; 
    width:0; 
    border-width:0;
}
	
#content a.enlarge span span	{display:none;}
	
#content a:hover.enlarge span img	{
    display:block;
    width:360px;
    height:auto;
    position:absolute;
    top:-200px;
    left:25%;
    border:2px solid #373435;
    z-index:20;
}
								
#content a:hover.enlarge span span	{
    display:block;
    position:absolute;
    --top:-290px;
    left:200px;
    color:white;
    background-color:#373435;
    padding:0 0.5em;
    z-index:30;
}

#content div#pix-text img {
    width: 500px;
    border:0;
}

#content div#pix-text a	{
    position:relative;
}

#content div#pix-text a span	{
    display:none;
}

#content div#pix-text a:hover span	{
    display:block;
    position:absolute;
    bottom:200px;
    --left:50%;
    padding:0 1em;
    background-color:#373435;
    color:white; z-index:40;
    width: auto;
}

/* ///////////////////////// */


.nav {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    --float: right;
    display: inline-block;
    background-color: white;
    position: relative;
}

.nav img {
    width: 150px;
    text-align:center;
    display: inline-block;
    margin-left: 10%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav li {
    font-size: 1em;
    font-weight: 800;
    --border-bottom: 1px solid #888;
    display: inline-block;
    --width: 120px;
    

}
 
.nav ul a {
    
    text-decoration: none;
    color: #2B395A;
    display: block;
    transition: .5s border-bottom, .5s color;
    padding: .75em;
}
 
.nav ul a:hover {
    color: black;
    border-bottom: 5px solid #2B395A;
}
 
.nav ul a.active {
    border-bottom: 5px solid #2B395A;
    color: black;
    cursor: default;
}

form {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right:10%;
    
}

.search {
    padding:8px 15px;
    border:2px solid #E6E7E8;
    border-radius:15px; 
    --box-shadow: 0px 0px 25px -2px #333;
    float: right;
}
 
#wrapper {
    display: flex;
}

#content, #dates {
    border-radius:25px;
    background-color: #fff;
    padding: 2em;
    margin: 2em;
    
}

#content {
    flex: 2;
    order: 1;
    margin-right: 0;
}

#centerimg {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

video {
    margin: 0 auto;
    width: 400px;
    display:block;
}

#aside {
    flex: 1;
    order: 2;
}

#dates a {
    display:block;
    color: #2B395A;
}

#dates a:hover {
    color:#ED2F59;
}


footer {
    text-align: center;
    position: relative;
}

footer p {
    margin:0;
}