body {
  font: 300 14px "Helvetica Neue";
  height: 640px;
  margin: 40px 1500px 40px 150px;
  overflow: hidden;
  position: relative;
  width: 1020px;
}

a {
  font-size: 14px;
  text-align: right;
}

a:link, a:visited {
  color: #777;
  text-decoration: none;
}

a:hover {
  color: #666;
}

blockquote {
  margin: 0;
}

blockquote:before {
  content: "“";
  position: absolute;
  left: -.4em;
}

blockquote:after {
  content: "”";
  position: absolute;
}

body > ul {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 64px;
}

h1, h2, h3 {
  font-weight: inherit;
  margin: 0;
}

h2, h3 {
  text-align: right;
  font-size: inherit;
}

h2 {
  font-size: 24px;
}

h3 {
  bottom: -20px;
  font-size: 18px;
}

#sidebar {
    position: absolute;
    top: 0;
    right: 0;
}

#timeline {
    width: 75px;
}

.invert {
  background: #1f1f1f;
  color: #dcdccc;
}

.invert h2, .invert h3 {
  color: #7f9f7f;
}

.string, .regexp {
  color: #f39;
}

.keyword {
  color: #00c;
}

.comment {
  color: #777;
  font-style: oblique;
}

.number {
  color: #369;
}

.class, .special {
  color: #1181B8;
}


.node {
  cursor: pointer;
}

.node:hover {
  stroke: #000;
  stroke-width: 1.5px;
}

.node--leaf {
  fill: lightblue;
}

.label {
  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.label,
.node--root,
.node--leaf {
  pointer-events: none;
}

body > svg {
  position: absolute;
  top: -80px;
  left: -160px;
}

div.tooltip {   
    position: absolute;           
    text-align: center;           
    width: 100px;                  
    height: 18px;                 
    padding: 2px;             
    font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-anchor: middle;
    color: white;
    --text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;       
    background: black;   
    border: 0px;      
    border-radius: 10px;           
    pointer-events: none;
}